/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- */

* {
	background: white;
	width: 100%;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-weight: 400;
}

html, body {
	margin: 0;
	height: 100%
}

.App {
	position: relative;
	min-height: 100vh;
}

.Navbar {
	background-image: url('https://image.freepik.com/free-photo/blue-sky-with-clouds-background_1253-1477.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding-top: 40px;

}

.Navbar #logo {
}

.Navbar #menubutton {
}

#navbar-home-link {
	padding: 100px;
	color: white
}

.Carousel {
	background-color: green;
	height: 200px;
	width: 100%;
	background-image: url('./resources//images/stock/drawing.jpeg')
}

.body {
	background-image: radial-gradient(white, #437ab6);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 50px 0;
	/* height: 60vh */
}

#component-body {
	height: 60vh
}

.content-div {
	height: 500px;
	width: 60%;
	margin: 100px;
}

#home-intro {
	background-image: url('./resources/images/stock/stuffed-animal.jpeg');
	background-size: cover;
}

#home-gallery {
	background-image: url('./resources/images/stock/alphabet1.jpeg');
	background-size: cover;
}
#home-blog {
	background-image: url('./resources/images/stock/dog.jpeg');
	background-size: cover;
}
#home-calendar {
	background-image: url('./resources/images/stock/play-doh.jpeg');
	background-size: cover;
}
#home-contact {
	background-image: url('./resources/images/stock/toy.jpeg');
	background-size: cover;
}
#home-about {
	background-image: url('./resources//images/stock/board-game.jpeg');
	background-size: cover;
}

#testimonial-component {

}

.Gallery {
	width: 100%;
	height: 100px;
}

.Blog {
	width: 100%;
	height: 100px;
}

.Calendar {
	width: 100%;
	height: 100px;
}

.Contact {
	width: 100%;
	height: 100px;
}

.About {
	width: 100%;
	height: 100px;
}

.Details {
	width: 100%;
	height: 100px;
}

.blog-post {
	background: #0074d9;
}

.Menu {
	background: #ff851b;
}

.content-div {
	background: white;
}

.Stock {
	height: 400px;
	width: 100%;
}

#title {
	font-family: 'Concert One', cursive;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
}

.button {
	background: white;
}

.home-content #intro {
	height: 100px;
}

p {
	height: 0;
}

h1 {
	height: 0;
}

.Footer {
	background: #ffdc00;
	height: 15rem;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.footer-component {
	bottom: 0;
	margin: auto;
	margin-left: 10em;
}

button {
	width: 100px;
}

.Logo {
	height: 188px;
	width: 188px;
	background-image: url('./resources/images/logo1.png');
	background-repeat: no-repeat;
	margin-left: 40vw;
	/* margin-top: 40px; */
}

/* Color Scheme:

RED - #FF4136
YELLOW - #FFDC00
BLUE - #0074D9
GREEN - #2ECC40
ORANGE - #FF851B
TEAL - #008080
PURPLE - 	#800080 */

/* fonts:
titles - vagrounded_btregular, normal, weight: 400, size 28px, line-height 35px, 
body - open_sansregular, normal, wieght: 400, size: 16px, line-height: 22px */
